<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <div
            style="min-width:1024px;margin:0;padding:0;font-family:Arial;letter-spacing:0"
        >
            <table
                style="width:100%;border-collapse:collapse;border-spacing:0"
            >
                <tbody>
                    <tr
                        style="background-image:linear-gradient(99deg,#ffc100,#ffc170)"
                    >
                        <th
                            colspan="3"
                            style="padding:105px 0 20px 29px;text-align:left"
                        >
                            <a
                                href={{url_client}}
                                title="DUALBLOG"
                                target="_blank"
                            >
                                <img
                                    style="width:168px"
                                    src="https://i.imgur.com/XOvzky9.png"
                                    alt="DUALBLOG"
                                    class="CToWUd"
                                />
                            </a>
                        </th>
                    </tr>
                    <tr
                        style="background-color:#f1f1f1"
                    >
                        <td colspan="3" style="padding-top:67px;text-align:center">
                            <div style="width:131px;height:103px;background-color:#f1f1f1"></div>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="width:152px;padding-right:8px;background-color:#f1f1f1"
                        ></td>
                        <td
                            style="width:720px;padding:36px 18px 25px;text-align:center"
                        >
                            <p style="margin:0 0 18px 0;font-size:17px">Click the
                                button below to verify your account!
                            </p>
                            <p
                                style="margin:0 0 10px 0"
                            >
                                <a
                                    style="display:inline-block;width:300px;padding:20px 46px 18px;font-size:17px;font-weight:bold;letter-spacing:0.2px;color:#000000;text-decoration:none;border-radius:4px;background-color:#ffc100"
                                    href={{url_activate}}
                                    title="CONFIRM"
                                    target="_blank"
                                >Verify Account
                                </a>
                            </p>
                            <p
                                style="margin:0;font-size:12px;letter-spacing:0.4px;color:#777777"
                            >The verification link is valid for 3 minutes.
                            </p>
                        </td>
                        <td
                            style="width:152px;padding-left:8px;background-color:#f1f1f1"
                        ></td>
                    </tr>
                    <tr
                        style="background-color:#f1f1f1"
                    >
                        <td colspan="3" style="padding:67px 0 24px;text-align:center">
                            <p style="font-size:10px;letter-spacing:0.2px;color:#999999">
                                Lam Thanh Duong - Designveloper.<br> Powered by <a style="color:#999999" href="http://medium.com">Medium.</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>