<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <div
            style="color:#1c1d1f;margin:0;font-family:'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:16px;font-weight:400;line-height:1.4"
        >
            <table
                id="m_-1046318123870801808udemy-email"
                width="100%"
                cellpadding="0"
                cellspacing="0"
                style="background-color:#f7f9fa;padding:24px"
            >
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="600">
                            <table
                                width="100%"
                                cellpadding="0"
                                cellspacing="0"
                                style="background-color:#fff"
                            >
                                <tbody>
                                    <tr>
                                        <td
                                            style="border-bottom:1px solid #cccccc;padding:24px;background-color: #ffc100;"
                                        >

                                            <img
                                                style="display:block;max-height:28px;width:auto"
                                                src="https://i.imgur.com/XOvzky9.png"
                                                alt="Udemy"
                                                width="75"
                                                class="CToWUd"
                                            />

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:24px 24px 0 24px">

                                            <p><a
                                                    style="text-decoration:none;color:#1c1d1f"
                                                >

                                                    Hi You,

                                                </a></p>

                                            <p>
                                                <a
                                                    style="text-decoration:none;color:#1c1d1f"
                                                >A password reset for your
                                                    account was requested.</a>
                                            </p>

                                            <p>
                                                <a
                                                    style="text-decoration:none;color:#1c1d1f"
                                                >Please click the button below
                                                    to change your password.</a>
                                            </p>

                                            <p style="margin-bottom:0">
                                                <a
                                                    style="text-decoration:none;color:#1c1d1f"
                                                >Note that this link is valid
                                                    for 3 minutes. After the time
                                                    limit has expired, you will
                                                    have to resubmit the request
                                                    for a password reset.</a>
                                            </p>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:16px 24px 0 24px">
                                            <a
                                                href={{url_reset}}
                                                style="border:1px solid #cccccc;display:inline-block"
                                                target="_blank"
                                            >
                                                <span
                                                    style="background:#1c1d1f;color:#fff;display:inline-block;min-width:80px;border-top:14px solid #1c1d1f;border-bottom:14px solid #1c1d1f;border-left:12px solid #1c1d1f;border-right:12px solid #1c1d1f;text-align:center;text-decoration:none;white-space:nowrap;font-family:'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:16px;font-weight:700;line-height:1.2;letter-spacing:-0.2px"
                                                >Change Your Password</span>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:48px 24px 0 24px">

                                            <p
                                                style="font-family:'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:12px;font-weight:400;line-height:1.4;color:#6a6f73;margin:0"
                                            >

                                                Lam Thanh Duong - Designveloper. Powered by <a href="http://medium">Medium</a>

                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:24px 0 0 0"></td>
                                    </tr>
                                </tbody></table>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>